/* Box Model Hack */
* {
    box-sizing: border-box;
  }
  
  /* Clear fix hack */
  .clearfix:after {
       clear: both;
       content: ".";
       display: block;
       height: 0;
       line-height: 0;
       visibility: hidden;
  }
  
  .clear {
      clear: both;
  }
  
  /******************************************
  /* BASE STYLES
  /*******************************************/
  
  body {
    display:grid;
    align-content: center;
    background: antiquewhite;
    /* border: 1px black solid; */
    width: 80%;
    margin: auto;
    font-family: 'Goldman', cursive;
  }
  
  
  /******************************************
  /* LAYOUT
  /*******************************************/
  /* header {
  
  } */
  
  /* footer {
  
  } */
  
  /******************************************
  /* ADDITIONAL STYLES
  /*******************************************/
  h1, h2, h3{
    text-align: center;
    color: seagreen;
  }
  h1{
  font-size: 4rem;
  }
  
  #gameContainer{
    border: 1px solid blue;
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    column-gap: 1rem;
    margin: 0px auto;
    justify-content: space-between;
    width: 900px;
  }
  #options{
    display: block;
    border: 1px solid black;
  }
  .player{
    display: grid;
    grid-template-columns: 30% 50% 20%;
    justify-content:space-between;
      /* border: 1px red solid; */
  }
  .playerHdr{
    font-size: 1.5rem;
  }
  #optionButtons{
    display: grid;
    grid-template-rows: 2em 2em 2em;
    row-gap: .10em;
    /* border: 1px dotted blue; */
  }
  
  button{
      width: 80%;
      margin: auto;
  }
  #gameBoard{
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    align-items: center;
  }
  
  .square{
    display: grid;
    font-size: 2rem;
    align-items: center;
    border: 1px solid blue;
    border-radius: 5px;
    height: 6rem;
    justify-content: center;
    /* width: 100%; */
  }
  #scoreboard{
    display: block;
    /* border: 1px solid black; */
  }
  .winner{
    background: seagreen;
    font-size: 3rem;
    color: white;
  }
  
  
  .input{
    height: 1.5rem;
    border-radius: 3px;
    border: none;
      background-color: beige;
  }
  /* .name{
    width: 100%;
  } */
  
  .icon{
    width: 2rem;
    background: #ddd;
    font-weight: 900;
    text-decoration: underline;
    text-align: center;
   }
  
   #winSection{
      background: seagreen;
      height: 100px;
      color: white;
      border-radius: 5px;
      border: 1px blue solid;
      display: grid;
  }
  
   #winMsgName{
       font-size: 3rem;
      margin: auto;
   }
   #winMsgSubText{
      font-size: 1.5rem;
     margin: auto;
  }
   .hidden{
     display: none;
   }