/* Box Model Hack */
* {
  box-sizing: border-box;
}

/* Clear fix hack */
.clearfix:after {
     clear: both;
     content: ".";
     display: block;
     height: 0;
     line-height: 0;
     visibility: hidden;
}

.clear {
	clear: both;
}

/******************************************
/* BASE STYLES
/*******************************************/

body {
  display:grid;
  align-content: center;
  background: lightgray;
  border: 1px black solid;
  width: 80%;
  margin: auto;
}


/******************************************
/* LAYOUT
/*******************************************/
/* header {

} */

/* footer {

} */

/******************************************
/* ADDITIONAL STYLES
/*******************************************/
h1, h2, h3{
  text-align: center;
}
h2{
  color: seagreen;
  border: 1px seagreen solid;
}
h4{
  margin-bottom: 0px;
}

#gameContainer{
  border: 1px solid yellow;
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  column-gap: 1rem;
  margin: 0px auto;
  justify-content: space-between;
  width: 80%;
}
#options{
  display: block;
  border: 1px solid black;
}
#players{
}
.playerHdr{
  font-size: 1.5rem;
}

#gameBoard{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}

.square{
  display: grid;
  font-size: 2rem;
  align-items: center;
  border: 1px solid blue;
  border-radius: 5px;
  height: 6rem;
  justify-content: center;
  width: 6rem;
}
#scoreboard{
  display: block;
  border: 1px solid black;
}
.winner{
  background: seagreen;
  font-size: 4rem;
  color: white;
}

#gameBoard2{
  display: grid;
  grid-template-columns: repeat(3, 1fr);
  align-items: center;
}


.input{
  height: 1.5rem;
  border-radius: 3px;
  border: none;
}
.icon{
  width: 2rem;
 }